<p id="notice"><%= notice %></p>
<h1><b>WELCOME TO YOUR HOME PAGE <%= @user.first_name %>!</b></h1>
<b>Yes it's very boring for now...</b>

<p>
  <b>First Name:</b>
  <%= @user.first_name %>
</p>

<p>
	<b>Last Name</b>
	<%= @user.last_name %>
</p>
<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
	<%= link_to "Create Game", create_game_path %>

<p>
	<b>Friends</b>
	</br>
	<!--this is all users for now...set up friends lists relationships later-->
	<% @friends.each do |friend| %>
		<%= friend.first_name + " " + friend.last_name + " "%>
		<br>
	<% end %>
</p>

<p>
	<b>Current Games</b>
	</br>
	<% @usersGames.each do |g| %>
		Game ID: <%= g.id %>
		<% if g.turn == @user.id %>
			<%= link_to "Your Turn!", "#" %>
		<% end %>
	</br>
	<% end %>
	</br>