<h1>Gamer Profile</h1>
<p><b><%= @user.first_name %> <%= @user.last_name %></b></p>
<p>
	<div>W/L/D: <%= @numwins %>:<%= @numlosses %>:<%= @numdraws %></div>
</p>
<table>
	<tr>
		<td>Game ID</td>
		<td>Result</td>
		<td>Ended</td>
	</tr>
	<% @games.each do |g| %>
		<tr>
			<td><%= g.id %></td>
			<td><% if g.winner.to_i == @user.id.to_i %><font color="green">Won</font><% else %><font color="red">Lost</font><% end %></td>
			<td><%= g.last_turn %></td>
		</tr>
	<% end %>
</table>