<div align="center"><h1><%= GameLogic.get_game_name(@game.gametype.to_s) + " " + "Session:" + @game.id.to_s %> </h1></div>
<% if @game.winner.to_i >  0 %>
	<h2><font color="red" >PLAYER <%= @game.winner %> has won!</font></h2>
	</br>
	<%= link_to "Leave Game", showuser_path(session[:user_id]) %>
<% end %>

<!--For now, this is hardcoded for tic-tac-toe.  But we can put into partial templates that will render depending on value of @game.gametype.to_s when we have more games-->
<table align="center" border='1'>
	<% tr_start = [0, 3, 6] %>
	<% tr_end = [2, 5, 8] %>
	<% for i in 0..8 %>
	<% if tr_start.include? i %>
	<tr>
	<% end %>
			<td width=50 height=50 align="center">
				<% if @cellStates[i] == 'X' or @cellStates[i] == 'O' %>
					<%= @cellStates[i] %>
				<% else %>
					<% if @game.turn == @curPN.to_i %>
						<%= link_to @cellStates[i], change_state_path(@game.id, i), {:class => "tttgrid"}%>
					<% else %>
						<%= @cellStates[i] %>
					<% end %>
				<% end %>
			</td>
	<% if tr_end.include? i %>
	</tr>
	<% end %>
	<% end %>
</table>